certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
DateTime==4.3
idna==2.10
jwt==1.2.0
numpy
pandas
pycparser==2.20
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
urllib3==1.26.3
websockets
zope.interface==5.2.0
